<html>

<head>
    <title>Person In Charge </title>
    <!-- <meta http-equiv="Refresh" content="1"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#btn-add').click(function () {
                var $that = $(this);
                var userId = $('#user-id').val();
                var contractId = $('#contract-id').val();
                addPersonInCharge(contractId, userId);
            });
        });

        function addPersonInCharge(contractId, userId) {
            $.ajax({
                url: "/contract/" + contractId + "/person-in-charge",
                method: 'POST',
                data: {
                    userId: userId
                },
                success: function (result) {
                    window.location.reload();
                }
            });
        }
    </script>
    <style>
        td {
            padding: 10px;
        }

        tr {
            line-height: 40px;
        }

        td.score {
            width: 70px;
        }

        input {
            width: 100px;
        }
    </style>
</head>

<body>
    <table border="1">
        <tr>
            <td colspan="2">
                <input type="text" name="userId" id="user-id" />
                <input id="contract-id" name="contractId" type="hidden" th:value="${contractId}" />
            </td>
            <td>
                <button id="btn-add">Add</button>
            </td>
        </tr>
        <tr th:each="employee,iter : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td class="score" th:attr="data-employee-id=${employee.id}" th:text="${employee.score}"></td>
        </tr>
    </table>
</body>

</html>